@font-face {
  font-family: "Core Sans AR";
  src: url("../assets/fonts/Core_Sans_fonts/Fontspring-coresansar25.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Causten";
  src: url("../assets/fonts/Causten/Causten-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: initial;
  background: 0 0;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  outline: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
* ::-webkit-scrollbar {
  display: none;
}

ol,
ul {
  list-style: none;
}

body {
  scrollbar-width: none;
}

.wrapper {
  margin: 0 auto;
  width: 90%;
  overflow: hidden;
}

.boundry {
  padding: 0 70px;
}

header {
  height: 108px;
  align-content: center;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .header-left h1 {
  width: 91.16px;
  height: 45px;
  gap: 0px;
  opacity: 0px;
}
header nav .header-left h1 a {
  display: block;
  width: 100%;
  height: 100%;
}
header nav .header-left h1 a img {
  display: block;
  width: 100%;
  height: 100%;
}
header nav .header-middle ul.nav-links {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
header nav .header-middle ul.nav-links li a {
  font-size: 22px;
  font-weight: 500;
  font-family: "Causten", serif;
  color: #807D7E;
  transition: all 0.3s ease;
}
header nav .header-middle ul.nav-links li .nav-links-active {
  font-weight: 700;
  font-size: 22px;
  transition: all 0.3s ease;
  color: #3C4242;
}
header nav .header-search form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 267px;
  height: 44px;
  padding: 10px 16px;
  gap: 12px;
  border-radius: 8px;
  opacity: 0px;
  background: #F6F6F6;
}
header nav .header-search form input {
  width: 100%;
  border: none;
  background: transparent;
  outline: none;
}
header nav .header-search form input::-moz-placeholder {
  font-size: 16px;
  font-weight: 400;
  font-family: "Causten", serif;
  color: #807D7E;
}
header nav .header-search form input::placeholder {
  font-size: 16px;
  font-weight: 400;
  font-family: "Causten", serif;
  color: #807D7E;
}
header nav .header-search form button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  cursor: pointer;
}
header nav .header-search form button img {
  width: 14.17px;
  height: 14.17px;
}
header nav .header-right ul {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}
header nav .header-right ul li span {
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 8px;
  opacity: 0px;
  background: #F6F6F6;
}
header nav .header-right ul li span a {
  width: 20px;
  height: 20px;
  gap: 0px;
  opacity: 0px;
}
header nav .header-right ul li span a img {
  width: 15px;
  height: 13.33px;
}
header nav .menubar {
  display: none;
}

#spotlight {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
#spotlight .spotlight-slider {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
}
#spotlight .spotlight-slider .left-arrow,
#spotlight .spotlight-slider .right-arrow {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}
#spotlight .spotlight-slider .left-arrow img,
#spotlight .spotlight-slider .right-arrow img {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease;
}
#spotlight .spotlight-slider .left-arrow:hover img,
#spotlight .spotlight-slider .right-arrow:hover img {
  transform: scale(1.1);
}
#spotlight .spotlight-slider .left-arrow {
  left: 20px;
}
#spotlight .spotlight-slider .right-arrow {
  right: 20px;
}
#spotlight .spotlight-slider .spotlight-content {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
}
#spotlight .spotlight-slider .spotlight-content .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  display: flex;
  flex-direction: column;
  transition: opacity 0.6s ease-in-out;
  opacity: 0;
  padding: 8% 0 0 12%;
}
#spotlight .spotlight-slider .spotlight-content .slide h3 {
  font-family: "Causten", serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 37.77px;
  letter-spacing: 0.16px;
  color: #FFFFFF;
  margin-bottom: 45px;
}
#spotlight .spotlight-slider .spotlight-content .slide h1 {
  font-family: "Causten", serif;
  font-weight: 900;
  font-size: 78px;
  line-height: 93.62px;
  letter-spacing: 0.31px;
  color: #FFFFFF;
  max-width: 400px;
  margin-bottom: 45px;
}
#spotlight .spotlight-slider .spotlight-content .slide .spotlight-items {
  font-family: "Causten", serif;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 32px;
  line-height: 47.21px;
  letter-spacing: 0.31px;
  margin-bottom: 50px;
}
#spotlight .spotlight-slider .spotlight-content .slide .shop-now {
  font-family: "Causten", serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.8px;
  letter-spacing: 0%;
  color: #3C4242;
  text-align: center;
  width: 250px;
  height: 61px;
  border-radius: 8px;
  padding-top: 16px;
  padding-right: 72px;
  padding-bottom: 16px;
  padding-left: 72px;
  gap: 12px;
  background: #FFFFFF;
  cursor: pointer;
  transition: all 0.3s ease;
}
#spotlight .spotlight-slider .spotlight-content .slide.active {
  opacity: 1;
}
#spotlight .slider-dots {
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: 126px;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  /* margin-top: -180px; */
  z-index: 120;
  height: 10px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.3);
}
#spotlight .slider-dots .slide-percentage {
  transition: all 0.3s ease;
  width: 50%;
  height: 100%;
  background: #FFFFFF;
  opacity: 1;
  border-radius: 12px;
}

#deals {
  padding: 140px 0 50px;
}
#deals .deal-section {
  display: flex;
  justify-content: space-between;
}
#deals .deal-section .deal-banner {
  width: 48%;
  height: 356px;
  border-radius: 12px;
  background-repeat: no-repeat;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.4);
  padding: 60px 30px;
}
#deals .deal-section .deal-banner h3 {
  font-family: "Montserrat", serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 30.07px;
  letter-spacing: 0.25px;
  color: #FFFFFF;
  margin-bottom: 30px;
}
#deals .deal-section .deal-banner h1 {
  font-family: "Montserrat", serif;
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 34px;
  line-height: 45.1px;
  letter-spacing: 0px;
  max-width: 300px;
  color: #FFFFFF;
}
#deals .deal-section .deal-banner p.offer {
  font-family: "Montserrat", serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 25.06px;
  letter-spacing: 0.25px;
  color: #FFFFFF;
  margin-bottom: 40px;
}
#deals .deal-section .deal-banner button.explore-deals {
  font-family: "Montserrat", serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 30.13px;
  letter-spacing: 0px;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: Auto;
  text-decoration-thickness: 0.5px;
  color: #FFFFFF;
  cursor: pointer;
}
#deals h3.new-arrivalt {
  display: flex;
  margin: 100px 0 30px 0;
  font-family: "Montserrat", serif;
  color: #3C4242;
  font-weight: 650;
  font-size: 34px;
  line-height: 33.5px;
  letter-spacing: 2%;
}
#deals h3.new-arrivalt div {
  height: 30px;
  width: 6px;
  background: #8A33FD;
  border-radius: 8px;
  margin-right: 20px;
}
#deals .new-arrival {
  align-items: center;
  display: flex;
  margin-bottom: 100px;
}
#deals .new-arrival button.new-arrival-left {
  margin-right: 20px;
}
#deals .new-arrival button.new-arrival-right {
  margin-left: 20px;
}
#deals .new-arrival div.new-arrival-collection {
  overflow: scroll;
  height: 360px;
  padding: 0 5px;
  display: flex;
  align-items: center;
  gap: 20px;
  transition: 0.3s all ease;
}
#deals .new-arrival div.new-arrival-collection div.new-arrival-item {
  transition: 0.3s all ease;
}
#deals .new-arrival div.new-arrival-collection div.new-arrival-item a {
  width: 262.8149414063px;
  height: 262.8149414063px;
  border-radius: 12px;
  display: block;
}
#deals .new-arrival div.new-arrival-collection div.new-arrival-item a img {
  width: 100%;
  height: 100%;
  display: block;
}
#deals .new-arrival div.new-arrival-collection div.new-arrival-item a h3 {
  font-family: "Causten", serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1%;
  color: #3C4242;
  margin-top: 25px;
}
#deals .deal-fashion {
  margin: 50px 0;
  display: flex;
  height: 639.7233886719px;
  border-radius: 8px;
  overflow: hidden;
}
#deals .deal-fashion .fashion-left {
  position: relative;
  width: 49%;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  color: white;
  /* Ensure text color is visible */
  z-index: 1;
  /* Keep text above */
}
#deals .deal-fashion .fashion-left ::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../assets/images/bg-4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform: scaleX(-1);
  /* Mirror only the background */
  z-index: -1;
  /* Send background behind text */
}
#deals .deal-fashion .fashion-left h1 {
  font-family: "Montserrat", serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 50px;
  letter-spacing: 0.21px;
  color: #FFFFFF;
  margin-bottom: 20px;
}
#deals .deal-fashion .fashion-left p {
  margin-bottom: 50px;
  font-family: "Causten", serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1px;
  color: #FFFFFF;
}
#deals .deal-fashion .fashion-left button {
  width: 168px;
  height: 46px;
  background: #FFFFFF;
  border-radius: 8px;
  gap: 12px;
  padding: 12px 44px;
  font-family: "Causten", serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 21.6px;
  letter-spacing: 0%;
  text-align: center;
}
#deals .deal-fashion .fashion-right {
  width: 51%;
  background: url(../assets/images/bg-5.jpg) no-repeat center top;
  background-size: cover;
  /* Ensure it fills the whole div */
}

#categories h3.new-arrivalt {
  display: flex;
  margin: 5px 0 70px 0;
  font-family: "Montserrat", serif;
  color: #3C4242;
  font-weight: 650;
  font-size: 34px;
  line-height: 33.5px;
  letter-spacing: 2%;
}
#categories h3.new-arrivalt div {
  height: 30px;
  width: 6px;
  background: #8A33FD;
  border-radius: 8px;
  margin-right: 20px;
}
#categories div.category-men {
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  justify-content: center;
}
#categories div.category-men div.category-item {
  width: 270px;
  height: 451px;
  gap: 15px;
  display: flex;
  flex-direction: column;
}
#categories div.category-men div.category-item a {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#categories div.category-men div.category-item a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
#categories div.category-men div.category-item a div.c-i-bottom {
  margin-top: 15px;
  height: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#categories div.category-men div.category-item a div.c-i-bottom div.c-i-b-left p {
  font-family: "Causten", serif;
  font-weight: 700;
  font-size: 17.88px;
  line-height: 27.93px;
  letter-spacing: -4%;
  color: #2A2F2F;
}
#categories div.category-men div.category-item a div.c-i-bottom div.c-i-b-left span {
  font-family: "Causten", serif;
  font-weight: 500;
  font-size: 13.41px;
  line-height: 27.93px;
  letter-spacing: -4%;
  color: #7F7F7F;
}
#categories div.category-men div.category-item a div.c-i-bottom div.c-i-b-right button {
  width: 17.8753471375;
  color: #797979;
  display: block;
}
#categories div.category-men div.category-item a div.c-i-bottom div.c-i-b-right button img {
  width: 100%;
  height: 100%;
  display: block;
}
#categories div.category-women {
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  justify-content: center;
}
#categories div.category-women div.category-item {
  width: 270px;
  height: 451px;
  gap: 15px;
  display: flex;
  flex-direction: column;
}
#categories div.category-women div.category-item a {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#categories div.category-women div.category-item a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
#categories div.category-women div.category-item a div.c-i-bottom {
  margin-top: 15px;
  height: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#categories div.category-women div.category-item a div.c-i-bottom div.c-i-b-left p {
  font-family: "Causten", serif;
  font-weight: 700;
  font-size: 17.88px;
  line-height: 27.93px;
  letter-spacing: -4%;
  color: #2A2F2F;
}
#categories div.category-women div.category-item a div.c-i-bottom div.c-i-b-left span {
  font-family: "Causten", serif;
  font-weight: 500;
  font-size: 13.41px;
  line-height: 27.93px;
  letter-spacing: -4%;
  color: #7F7F7F;
}
#categories div.category-women div.category-item a div.c-i-bottom div.c-i-b-right button {
  width: 17.8753471375;
  color: #797979;
  display: block;
}
#categories div.category-women div.category-item a div.c-i-bottom div.c-i-b-right button img {
  width: 100%;
  height: 100%;
  display: block;
}
#categories div.brands {
  height: 357px;
  background: #3C4242;
  border: 1.07px solid #323232;
  border-radius: 12px;
  margin-bottom: 80px;
  text-align: center;
  padding: 40px 0;
}
#categories div.brands h1 {
  font-family: "Causten", serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 49.1px;
  letter-spacing: 0%;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 30px;
}
#categories div.brands p {
  font-family: "Causten", serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26.4px;
  letter-spacing: 0%;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 65px;
}
#categories div.brands p span {
  font-family: "Causten", serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 26.4px;
  letter-spacing: 0%;
  text-align: center;
  color: #FBD103;
}
#categories div.brands ul {
  display: flex;
  gap: 20px;
  justify-self: center;
}
#categories div.brands ul li {
  align-content: center;
  border-radius: 12px;
  width: 177px;
  height: 85px;
  background: #FFFFFF;
}
#categories div.limelight {
  margin-bottom: 80px;
}
#categories div.limelight div.limelight-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 36px;
}
#categories div.limelight div.limelight-container div.limelight-items {
  height: 441px;
}
#categories div.limelight div.limelight-container div.limelight-items div.top {
  margin-bottom: 25px;
  height: 370px;
  width: 282px;
  position: relative;
}
#categories div.limelight div.limelight-container div.limelight-items div.top img.main {
  width: 282px;
}
#categories div.limelight div.limelight-container div.limelight-items div.top button.wishlist-btn {
  cursor: pointer;
  position: absolute;
  width: 32.3592414856px;
  height: 32.3592414856px;
  border-radius: 50%;
  background: #FFFFFF;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-out;
}
#categories div.limelight div.limelight-container div.limelight-items div.top button.wishlist-btn img.wishlist {
  width: 13.7526769638px;
  height: 12.224603653px;
}
#categories div.limelight div.limelight-container div.limelight-items div.bottom {
  width: 282px;
}
#categories div.limelight div.limelight-container div.limelight-items div.bottom a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#categories div.limelight div.limelight-container div.limelight-items div.bottom a div.limelight-bottom-l h3 {
  font-family: "Causten", serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 19.2px;
  letter-spacing: 0%;
  color: #3C4242;
}
#categories div.limelight div.limelight-container div.limelight-items div.bottom a div.limelight-bottom-l p {
  font-family: "Causten", serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.8px;
  letter-spacing: 0%;
  color: #807D7E;
}
#categories div.limelight div.limelight-container div.limelight-items div.bottom a div.limelight-bottom-r p {
  background: #F6F6F6;
  width: 82px;
  height: 36px;
  color: #3C4242;
  font-family: "Causten", serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16.8px;
  letter-spacing: 0%;
  text-align: center;
  align-content: center;
  justify-content: center;
  border-radius: 8px;
}
#categories div.feedback-section {
  margin-bottom: 110px;
}
#categories div.feedback-section div.feedbacks {
  display: flex;
  justify-content: space-between;
  gap: 23px;
}
#categories div.feedback-section div.feedbacks div.feedback-items {
  width: 396.8740844727px;
  height: 292.004699707px;
  gap: 20px;
  border-radius: 10px;
  border-width: 1.8px;
  padding: 23.19px;
  border: 1.8px solid #BEBCBD;
}
#categories div.feedback-section div.feedbacks div.feedback-items div.feedback-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
#categories div.feedback-section div.feedbacks div.feedback-items div.feedback-top div.left img {
  width: 57.984375px;
  height: 57.984375px;
}
#categories div.feedback-section div.feedbacks div.feedback-items div.feedback-top div.left h3 {
  margin-top: 20px;
  font-family: "Causten", serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 21.6px;
  letter-spacing: 2%;
  text-align: center;
}
#categories div.feedback-section div.feedbacks div.feedback-items div.feedback-top div.right {
  gap: 0px;
  align-items: baseline;
  display: flex;
}
#categories div.feedback-section div.feedbacks div.feedback-items div.feedback-top div.right img {
  max-width: 131px;
  max-height: 23px;
}
#categories div.feedback-section div.feedbacks div.feedback-items div.feedback-bottom p {
  font-family: "Causten", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  letter-spacing: 2%;
  color: #807D7E;
}
#categories div.feedback-section div.scroll {
  margin-top: 18px;
  display: flex;
  justify-self: center;
  gap: 2px;
}
#categories div.feedback-section div.scroll div.scroll-i {
  width: 7.73px;
  height: 7.73px;
  border-radius: 50%;
  background: rgba(190, 188, 189, 0.3019607843);
}
#categories div.feedback-section div.scroll div.active-i {
  background: #3C4242;
  width: 7.73px;
  height: 7.73px;
  border-radius: 50%;
}

footer {
  background: #3C4242;
  padding: 59px 0;
}
footer div.footer-items {
  margin-bottom: 20px;
}
footer div.footer-items ul {
  display: flex;
  justify-content: space-between;
}
footer div.footer-items ul li {
  display: flex;
  flex-direction: column;
}
footer div.footer-items ul li h3 {
  margin-bottom: 20px;
  font-family: "Montserrat", serif;
  font-weight: 600;
  font-size: 28.58px;
  line-height: 61.99px;
  letter-spacing: 0%;
  color: #F6F6F6;
}
footer div.footer-items ul li a {
  font-family: "Montserrat", serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 39.04px;
  letter-spacing: 0%;
  color: #F6F6F6;
}
footer div.footer-connect {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
footer div.footer-connect div.social-media {
  gap: 9px;
  display: flex;
}
footer div.footer-connect div.social-media button {
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 37.0239982605px;
  height: 37.0239982605px;
  background: #F6F6F6;
  border-radius: 10px;
}
footer div.footer-connect div.apps h3 {
  font-family: "Causten", serif;
  font-weight: 700;
  font-size: 28.58px;
  line-height: 61.99px;
  letter-spacing: 0%;
  color: #F6F6F6;
  margin-bottom: 15px;
}
footer div.footer-connect div.apps div.app {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
footer div.footer-connect div.apps div.app a {
  display: flex;
}
footer div.footer-connect div.apps div.app a img {
  margin-right: 10px;
}
footer div.footer-connect div.apps div.app a div.right span {
  font-family: "Montserrat", serif;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0%;
  color: #FFFFFF;
}
footer div.footer-connect div.apps div.app a div.right h3 {
  font-family: "Montserrat", serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 21.6px;
  letter-spacing: 0%;
  color: #FFFFFF;
  margin: 0;
}
footer div.popular-categories {
  border-top: 1px solid rgba(190, 188, 189, 0.4);
  border-bottom: 1px solid rgba(190, 188, 189, 0.4);
  padding: 10px 0;
}
footer div.popular-categories div.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer div.popular-categories div.top div.left h3 {
  font-family: "Causten", serif;
  font-weight: 700;
  font-size: 28.58px;
  line-height: 57.16px;
  letter-spacing: 0%;
  color: #F6F6F6;
}
footer div.popular-categories div.top div.right button {
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
footer div.popular-categories div.top div.right button img.up-arrow {
  transition: transform 0.3s ease-in-out;
}
footer div.popular-categories div.bottom-category {
  display: none;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}
footer div.popular-categories div.bottom-category ul {
  transition: all 0.3 ease;
  display: flex;
  justify-content: space-between;
}
footer div.popular-categories div.bottom-category ul li {
  display: flex;
  flex-direction: column;
}
footer div.popular-categories div.bottom-category ul li h3 {
  margin-bottom: 20px;
  font-family: "Montserrat", serif;
  font-weight: 600;
  font-size: 28.58px;
  line-height: 61.99px;
  letter-spacing: 0%;
  color: #F6F6F6;
}
footer div.popular-categories div.bottom-category ul li a {
  font-family: "Montserrat", serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 39.04px;
  letter-spacing: 0%;
  color: #F6F6F6;
}
footer div.copyright {
  margin-top: 49px;
  text-align: center;
}
footer div.copyright span {
  font-family: "Causten", serif;
  font-weight: 100;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0%;
  color: #FFFFFF;
}

#product-section {
  overflow: hidden;
  height: calc(100vh - 108px);
  display: flex;
  border-top: 1px solid #BEBCBD;
}
#product-section .product-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #F6F6F6;
  padding-left: 5%;
  padding-right: 50px;
  height: calc(100vh - 108px);
}
#product-section .product-left .product-images {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#product-section .product-left .product-images .image-products a.product-list-btn img {
  width: 68px;
  height: 68px;
  border-radius: 9px;
  padding: 2px;
}
#product-section .product-left .product-images .image-products a.product-list-btn :hover {
  border: 0.76px solid #3C4242;
  border-radius: 12px;
}
#product-section .product-left .product-button {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#product-section .product-left .product-button a.up-button {
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 21px;
  width: 21px;
  border-radius: 50%;
}
#product-section .product-left .product-button a.up-button img {
  width: 10px;
  display: block;
}
#product-section .product-left .product-button a.down-arrow {
  background: #3C4242;
  height: 21px;
  width: 21px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#product-section .product-left .product-button a.down-arrow img {
  display: block;
  width: 10px;
}
#product-section .product-middle img {
  height: 100%;
  width: 510px;
}
#product-section .product-right {
  padding: 2% 6%;
}
#product-section .product-right .product-top {
  margin-bottom: 35px;
}
#product-section .product-right .product-top ul {
  display: flex;
  gap: 15px;
  align-items: center;
}
#product-section .product-right .product-top ul li {
  display: flex;
  align-items: center;
}
#product-section .product-right .product-top ul li a {
  font-family: "Causten", serif;
  font-weight: 550;
  font-size: 18px;
  line-height: 21.6px;
  color: #807D7E;
  letter-spacing: 0%;
  gap: 10px;
}
#product-section .product-right .product-top ul li a :hover {
  animation: fadOut 300ms ease-out;
}
#product-section .product-right .product-top ul li a img {
  margin-left: 14px;
  width: 5.0000004768px;
  height: 11.1428585052px;
}
#product-section .product-right h3.product-name {
  margin-bottom: 35px;
  font-family: "Causten", serif;
  font-weight: 900;
  max-width: 350px;
  font-size: 35px;
  line-height: 47.6px;
  letter-spacing: 2%;
  color: #3C4242;
}
#product-section .product-right .product-rating {
  margin-bottom: 35px;
  display: flex;
  gap: 25px;
  align-items: center;
}
#product-section .product-right .product-rating a.product-ratingg {
  display: flex;
  gap: 15px;
  align-items: center;
}
#product-section .product-right .product-rating a.product-ratingg span {
  font-family: "Causten", serif;
  font-weight: 550;
  font-size: 19px;
  color: #807D7E;
}
#product-section .product-right .product-rating a.product-ratingg img {
  display: block;
  width: 22px;
  height: 22px;
}
#product-section .product-right .product-rating .product-commend {
  display: flex;
  align-items: center;
}
#product-section .product-right .product-rating .product-commend a {
  display: flex;
  gap: 15px;
  font-family: "Causten", serif;
  font-weight: 500;
  color: #807D7E;
  font-size: 18px;
  line-height: 21.6px;
  letter-spacing: 0%;
  align-items: center;
}
#product-section .product-right .product-sizes .product-size-top {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 25px;
}
#product-section .product-right .product-sizes .product-size-top h3 {
  font-family: "Causten", serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 21.6px;
  letter-spacing: 0%;
  color: #3F4646;
}
#product-section .product-right .product-sizes .product-size-top a {
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: "Causten", serif;
  color: #807D7E;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.6px;
  letter-spacing: 0%;
}
#product-section .product-right .product-sizes .product-size-top a img {
  width: 14px;
  height: 13px;
}
#product-section .product-right .product-sizes .product-size-bottom {
  margin-bottom: 35px;
}
#product-section .product-right .product-sizes .product-size-bottom ul {
  display: flex;
  align-items: center;
  gap: 20px;
}
#product-section .product-right .product-sizes .product-size-bottom ul li {
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  border: 2px solid #BEBCBD;
}
#product-section .product-right .product-sizes .product-size-bottom ul li a {
  font-family: "Causten", serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.8px;
  letter-spacing: 0%;
  text-align: center;
  color: #3C4242;
}
#product-section .product-right .product-colors {
  margin-bottom: 35px;
}
#product-section .product-right .product-colors h3 {
  font-family: "Causten", serif;
  color: #3F4646;
  font-weight: 600;
  font-size: 18px;
  line-height: 21.6px;
  letter-spacing: 0%;
  margin-bottom: 20px;
}
#product-section .product-right .product-colors .colors {
  display: flex;
  align-items: center;
  gap: 20px;
}
#product-section .product-right .product-colors .colors a {
  width: 22px;
  height: 22px;
}
#product-section .product-right .product-colors .colors a:hover {
  border: 1px solid #3F4646;
}
#product-section .product-right .product-colors .colors a.color {
  border-radius: 50%;
}
#product-section .product-right .product-colors .colors a.red {
  background: #3C4242;
}
#product-section .product-right .product-colors .colors a.yellow {
  background: #EDD146;
}
#product-section .product-right .product-colors .colors a.purple {
  background: #EB84B0;
}
#product-section .product-right .product-colors .colors a.black {
  background: #9C1F35;
}
@media all and (max-width: 1280px) {
  header nav .header-middle ul.nav-links {
    gap: 15px;
  }
  header nav .header-search form {
    width: 250px;
  }
}
@media all and (max-widdth: 1024px) {
  header nav .header-middle ul.nav-links {
    gap: 20px;
  }
  header nav .header-middle ul.nav-links li a {
    font-size: 18px;
  }
  header nav .header-search form {
    width: 250px;
  }
  header nav .header-search form {
    width: 240px;
  }
}
@media all and (max-width: 980px) {
  header nav .header-left h1 {
    width: 80.16px;
    height: 40px;
  }
  header nav .header-right ul li span {
    padding: 10px;
  }
  header nav .header-search form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 38px;
    padding: 10px 16px;
    gap: 12px;
    border-radius: 8px;
    opacity: 0px;
    background: #F6F6F6;
  }
  header nav .header-right ul li span a img {
    width: 14px;
    height: 12.33px;
  }
  header nav .header-middle ul.nav-links li a {
    font-size: 16px;
  }
  header nav .header-middle ul.nav-links {
    gap: 10px;
  }
  header nav .header-left h1 {
    width: 70.16px;
    height: 40px;
  }
}
@media all and (max-width: 768px) {
  .header-search {
    display: none;
  }
  header nav .header-middle ul.nav-links {
    gap: 15px;
  }
}
@media all and (max-width: 640px) {
  .header-right {
    display: none;
  }
  header nav .header-middle ul.nav-links {
    gap: 12px;
  }
}
@media all and (max-width: 540px) {
  .menubar {
    display: block !important;
  }
}
@media all and (max-width: 480px) {
  .nav-links li:nth-child(4) {
    display: none;
  }
}
@media all and (max-width: 380px) {
  .nav-links li:nth-child(5) {
    display: none;
  }
}
@media all and (max-width: 320px) {
  .nav-links li {
    display: none;
  }
}
@keyframes fadOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}/*# sourceMappingURL=style.css.map */