//  font-family: "Poppins",  serif;
// font-family: "Montserrat",serif;
@font-face {
    font-family: "Core Sans AR";
    src: url("../assets/fonts/Core_Sans_fonts/Fontspring-coresansar25.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Causten";
    src: url("../assets/fonts/Causten/Causten-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: initial;
    background: 0 0;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    outline: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    ::-webkit-scrollbar {
        display: none;
    }
}

ol,
ul {
    list-style: none;
}

body {
    scrollbar-width: none;
}

.wrapper {
    margin: 0 auto;
    width: 90%;
    overflow: hidden;
}

.boundry {
    padding: 0 70px;
}

// h1 {
//     font-family: "Core Sans AR", serif;
// }

// h2 {
//     font-family: "Causten", serif;
// }

// h3 {
//     font-family: 'Poppins', serif;

// }

// h4 {
//     font-family: 'Montserrat', serif;
// }

header {
    height: 108px;
    align-content: center;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header-left {
            h1 {
                width: 91.16px;
                height: 45px;
                gap: 0px;
                opacity: 0px;

                a {
                    display: block;
                    width: 100%;
                    height: 100%;

                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }

        .header-middle {
            ul.nav-links {
                display: flex;
                justify-content: space-between;
                gap: 40px;

                li {
                    a {
                        font-size: 22px;
                        font-weight: 500;
                        font-family: "Causten", serif;
                        color: #807D7E;
                        transition: all 0.3s ease;
                    }

                    .nav-links-active {
                        font-weight: 700;
                        font-size: 22px;
                        transition: all 0.3s ease;
                        color: #3C4242;
                    }
                }
            }
        }

        .header-search {
            form {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 267px;
                height: 44px;
                padding: 10px 16px;
                gap: 12px;
                border-radius: 8px;
                opacity: 0px;
                background: #F6F6F6;

                input {
                    width: 100%;
                    border: none;
                    background: transparent;
                    outline: none;

                    &::placeholder {
                        font-size: 16px;
                        font-weight: 400;
                        font-family: "Causten", serif;
                        color: #807D7E;
                    }
                }

                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: none;
                    background: none;
                    cursor: pointer;

                    img {
                        width: 14.17px;
                        height: 14.17px;
                    }
                }
            }
        }

        .header-right {
            ul {
                display: flex;
                justify-content: space-between;
                gap: 12px;

                li {
                    span {
                        width: 44px;
                        height: 44px;
                        padding: 12px;
                        border-radius: 8px;
                        opacity: 0px;
                        background: #F6F6F6;

                        a {
                            width: 20px;
                            height: 20px;
                            gap: 0px;
                            opacity: 0px;

                            img {
                                width: 15px;
                                height: 13.33px;

                            }
                        }
                    }
                }
            }
        }

        .menubar {
            display: none;
        }





        // .hide {
        //     display: flex;
        //     position: fixed;
        //     width: 60%;
        //     height: 100vh;
        //     right: 0;
        //     align-items: center;
        //     justify-content: center;
        //     background-color: #F6F6F6;
        //     transition: all 0.5s ease;

        //     .menu-links {
        //         display: flex;
        //         flex-direction: column;
        //         gap: 20px;
        //         justify-content: space-between;

        //     }
        // }

        // .menu-list {
        //     display: block;
        // }
    }

}

#spotlight {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;


    .spotlight-slider {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        // align-items: center;
        // justify-content: center;

        .left-arrow,
        .right-arrow {
            background: none;
            border: none;
            cursor: pointer;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 2;

            img {
                width: 50px;
                height: 50px;
                transition: transform 0.3s ease;
            }

            &:hover img {
                transform: scale(1.1);
            }
        }

        .left-arrow {
            left: 20px;
        }

        .right-arrow {
            right: 20px;
        }

        .spotlight-content {
            width: 100%;
            height: 100%;
            position: relative;
            display: flex;
            // align-items: center;
            // justify-content: center;
            // text-align: center;
            overflow: hidden;

            .slide {
                position: absolute;
                width: 100%;
                height: 100%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center top;
                display: flex;
                flex-direction: column;
                // justify-content: center;
                // align-items: center;
                transition: opacity 0.6s ease-in-out;
                opacity: 0;

                padding: 8% 0 0 12%;

                h3 {
                    font-family: "Causten", serif;
                    font-weight: 600;
                    font-size: 32px;
                    line-height: 37.77px;
                    letter-spacing: 0.16px;
                    color: #FFFFFF;
                    margin-bottom: 45px;
                }

                h1 {
                    font-family: "Causten", serif;
                    font-weight: 900;
                    font-size: 78px;
                    line-height: 93.62px;
                    letter-spacing: 0.31px;
                    color: #FFFFFF;
                    max-width: 400px;
                    margin-bottom: 45px;
                }

                .spotlight-items {
                    font-family: "Causten", serif;
                    color: #FFFFFF;
                    font-weight: 600;
                    font-size: 32px;
                    line-height: 47.21px;
                    letter-spacing: 0.31px;
                    margin-bottom: 50px;
                }

                .shop-now {
                    font-family: "Causten", serif;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 28.8px;
                    letter-spacing: 0%;
                    color: #3C4242;

                    text-align: center;
                    width: 250px;
                    height: 61px;
                    border-radius: 8px;
                    padding-top: 16px;
                    padding-right: 72px;
                    padding-bottom: 16px;
                    padding-left: 72px;
                    gap: 12px;
                    background: #FFFFFF;
                    cursor: pointer;
                    transition: all 0.3s ease;

                }

                &.active {
                    opacity: 1;
                }
            }


        }
    }

    .slider-dots {
        position: absolute;
        bottom: 50px;
        left: 50%;
        width: 126px;
        // top: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 10px;
        /* margin-top: -180px; */
        z-index: 120;
        height: 10px;
        border-radius: 12px;
        background: rgba(255, 255, 255, 0.3);


        .slide-percentage {
            transition: all 0.3s ease;
            width: 50%;
            height: 100%;
            background: #FFFFFF;
            opacity: 1;
            border-radius: 12px;

        }
    }

}

#deals {
    padding: 140px 0 50px;

    .deal-section {
        display: flex;
        justify-content: space-between;

        .deal-banner {
            width: 48%;
            height: 356px;
            border-radius: 12px;
            background-repeat: no-repeat;
            box-shadow: 2px 2px 10px 0px #00000066;

            padding: 60px 30px;


            h3 {
                font-family: "Montserrat", serif;
                font-weight: 800;
                font-size: 18px;
                line-height: 30.07px;
                letter-spacing: 0.25px;
                color: #FFFFFF;
                margin-bottom: 30px;
            }

            h1 {
                font-family: "Montserrat", serif;
                font-weight: 700;
                margin-bottom: 20px;
                font-size: 34px;
                line-height: 45.1px;
                letter-spacing: 0px;
                max-width: 300px;
                color: #FFFFFF;
            }

            p.offer {
                font-family: "Montserrat", serif;
                font-weight: 600;
                font-size: 16px;
                line-height: 25.06px;
                letter-spacing: 0.25px;
                color: #FFFFFF;
                margin-bottom: 40px;
            }

            button.explore-deals {
                font-family: "Montserrat", serif;
                font-weight: 700;
                font-size: 20px;
                line-height: 30.13px;
                letter-spacing: 0px;
                text-decoration: underline;
                text-decoration-style: solid;
                text-decoration-offset: Auto;
                text-decoration-thickness: .5px;
                color: #FFFFFF;
                cursor: pointer;
            }
        }
    }

    h3.new-arrivalt {
        display: flex;

        div {
            height: 30px;
            width: 6px;
            background: #8A33FD;
            border-radius: 8px;
            margin-right: 20px;
        }

        margin: 100px 0 30px 0;
        font-family: 'Montserrat',
        serif;
        color: #3C4242;
        font-weight: 650;
        font-size: 34px;
        line-height: 33.5px;
        letter-spacing: 2%;

    }

    .new-arrival {
        align-items: center;
        display: flex;
        margin-bottom: 100px;


        button.new-arrival-left {
            margin-right: 20px;
        }

        button.new-arrival-right {
            margin-left: 20px;
        }

        div.new-arrival-collection {
            overflow: scroll;
            height: 360px;
            padding: 0 5px;
            display: flex;

            align-items: center;
            gap: 20px;
            transition: 0.3s all ease;

            div.new-arrival-item {

                transition: 0.3s all ease;

                a {
                    width: 262.81494140625px;
                    height: 262.81494140625px;
                    border-radius: 12px;
                    display: block;

                    img {
                        width: 100%;
                        height: 100%;
                        display: block;
                    }

                    h3 {
                        font-family: "Causten", serif;
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 24px;
                        letter-spacing: 1%;
                        color: #3C4242;
                        margin-top: 25px;

                    }

                }



            }
        }
    }

    .deal-fashion {
        margin: 50px 0;
        display: flex;
        height: 639.723388671875px;
        border-radius: 8px;
        overflow: hidden;

        .fashion-left {
            position: relative;
            width: 49%;
            padding: 0 80px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            color: white;
            /* Ensure text color is visible */
            z-index: 1;
            /* Keep text above */

            ::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url(../assets/images/bg-4.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                transform: scaleX(-1);
                /* Mirror only the background */
                z-index: -1;
                /* Send background behind text */

            }

            h1 {

                font-family: 'Montserrat', serif;
                font-weight: 700;
                font-size: 34px;
                line-height: 50px;
                letter-spacing: 0.21px;
                color: #FFFFFF;
                margin-bottom: 20px;
            }

            p {
                margin-bottom: 50px;
                font-family: "Causten", serif;
                font-weight: 300;
                font-size: 20px;
                line-height: 24px;
                letter-spacing: 1px;
                color: #FFFFFF;
            }

            button {
                width: 168px;
                height: 46px;
                background: #FFFFFF;
                border-radius: 8px;
                gap: 12px;
                padding: 12px 44px;
                font-family: "Causten", serif;
                font-weight: 600;
                font-size: 18px;
                line-height: 21.6px;
                letter-spacing: 0%;
                text-align: center;
            }
        }

        .fashion-right {
            width: 51%;
            background: url(../assets/images/bg-5.jpg) no-repeat center top;
            background-size: cover;
            /* Ensure it fills the whole div */
        }
    }


}

#categories {

    h3.new-arrivalt {
        display: flex;

        div {
            height: 30px;
            width: 6px;
            background: #8A33FD;
            border-radius: 8px;
            margin-right: 20px;
        }

        margin: 5px 0 70px 0;
        font-family: 'Montserrat',
        serif;
        color: #3C4242;
        font-weight: 650;
        font-size: 34px;
        line-height: 33.5px;
        letter-spacing: 2%;

    }

    div.category-men {
        margin-bottom: 100px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 50px;
        justify-content: center;

        div.category-item {
            width: 270px;
            height: 451px;
            gap: 15px;
            display: flex;
            flex-direction: column;

            a {
                display: flex;
                flex-direction: column;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 10px;
                }

                div.c-i-bottom {
                    margin-top: 15px;
                    height: 42px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    div.c-i-b-left {
                        p {
                            font-family: "Causten", serif;
                            font-weight: 700;
                            font-size: 17.88px;
                            line-height: 27.93px;
                            letter-spacing: -4%;
                            color: #2A2F2F;
                        }

                        span {
                            font-family: "Causten", serif;
                            font-weight: 500;
                            font-size: 13.41px;
                            line-height: 27.93px;
                            letter-spacing: -4%;
                            color: #7F7F7F;
                        }
                    }

                    div.c-i-b-right {
                        button {
                            width: 17.875347137451172;
                            color: #797979;
                            display: block;

                            img {
                                width: 100%;
                                height: 100%;
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }

    div.category-women {
        margin-bottom: 80px;
        // display: flex;
        // flex-wrap: wrap;
        // justify-content: space-between;
        // // justify-content: space-between;
        // gap: 50px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 50px;
        justify-content: center;

        div.category-item {
            width: 270px;
            height: 451px;
            gap: 15px;
            display: flex;
            flex-direction: column;

            a {
                display: flex;
                flex-direction: column;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 10px;
                }

                div.c-i-bottom {
                    margin-top: 15px;
                    height: 42px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    div.c-i-b-left {
                        p {
                            font-family: "Causten", serif;
                            font-weight: 700;
                            font-size: 17.88px;
                            line-height: 27.93px;
                            letter-spacing: -4%;
                            color: #2A2F2F;
                        }

                        span {
                            font-family: "Causten", serif;
                            font-weight: 500;
                            font-size: 13.41px;
                            line-height: 27.93px;
                            letter-spacing: -4%;
                            color: #7F7F7F;
                        }
                    }

                    div.c-i-b-right {
                        button {
                            width: 17.875347137451172;
                            color: #797979;
                            display: block;

                            img {
                                width: 100%;
                                height: 100%;
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }

    div.brands {
        height: 357px;
        background: #3C4242;
        border: 1.07px solid #323232;
        border-radius: 12px;
        margin-bottom: 80px;
        text-align: center;
        padding: 40px 0;

        h1 {
            font-family: "Causten", serif;
            font-weight: 800;
            font-size: 50px;
            line-height: 49.1px;
            letter-spacing: 0%;
            text-align: center;
            color: #FFFFFF;
            margin-bottom: 30px;
        }

        p {
            font-family: "Causten", serif;
            font-weight: 400;
            font-size: 22px;
            line-height: 26.4px;
            letter-spacing: 0%;
            text-align: center;
            color: #FFFFFF;
            margin-bottom: 65px;

            span {
                font-family: "Causten", serif;
                font-weight: 700;
                font-size: 22px;
                line-height: 26.4px;
                letter-spacing: 0%;
                text-align: center;
                color: #FBD103;
            }
        }

        ul {
            display: flex;
            gap: 20px;
            justify-self: center;

            li {
                align-content: center;
                border-radius: 12px;
                width: 177px;
                height: 85px;
                background: #FFFFFF;

                a {

                    img {}
                }
            }
        }
    }

    div.limelight {
        margin-bottom: 80px;

        h3.new-arrivalt {}

        div.limelight-container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 36px;


            div.limelight-items {
                // width: 282px;
                height: 441px;


                div.top {
                    margin-bottom: 25px;
                    height: 370px;
                    width: 282px;
                    position: relative;

                    img.main {
                        width: 282px;
                    }

                    button.wishlist-btn {
                        cursor: pointer;
                        position: absolute;
                        width: 32.3592414855957px;
                        height: 32.3592414855957px;
                        border-radius: 50%;
                        background: #FFFFFF;
                        top: 20px;
                        right: 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: all 0.3s ease-out;

                        img.wishlist {
                            width: 13.752676963806152px;
                            height: 12.224603652954102px;



                        }
                    }

                }

                div.bottom {
                    width: 282px;

                    a {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        div.limelight-bottom-l {
                            h3 {
                                font-family: "Causten", serif;
                                font-weight: 600;
                                font-size: 16px;
                                line-height: 19.2px;
                                letter-spacing: 0%;
                                color: #3C4242;
                            }

                            p {
                                font-family: "Causten", serif;
                                font-weight: 500;
                                font-size: 14px;
                                line-height: 16.8px;
                                letter-spacing: 0%;
                                color: #807D7E;
                            }
                        }

                        div.limelight-bottom-r {
                            p {
                                background: #F6F6F6;
                                width: 82px;
                                height: 36px;
                                color: #3C4242;
                                font-family: "Causten", serif;
                                font-weight: 700;
                                font-size: 14px;
                                line-height: 16.8px;
                                letter-spacing: 0%;
                                text-align: center;
                                align-content: center;
                                justify-content: center;
                                border-radius: 8px;
                            }
                        }
                    }

                }

            }
        }


    }

    div.feedback-section {
        margin-bottom: 110px;

        h3.new-arrivalt {}

        div.feedbacks {
            display: flex;
            justify-content: space-between;
            gap: 23px;

            div.feedback-items {
                width: 396.87408447265625px;
                height: 292.00469970703125px;
                gap: 20px;
                border-radius: 10px;
                border-width: 1.8px;
                padding: 23.19px;

                border: 1.8px solid #BEBCBD;

                div.feedback-top {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 25px;

                    div.left {
                        img {
                            width: 57.984375px;
                            height: 57.984375px;
                        }

                        h3 {
                            margin-top: 20px;
                            font-family: "Causten", serif;
                            font-weight: 500;
                            font-size: 22px;
                            line-height: 21.6px;
                            letter-spacing: 2%;
                            text-align: center;
                        }
                    }

                    div.right {

                        gap: 0px;
                        align-items: baseline;

                        display: flex;


                        img {
                            max-width: 131px;
                            max-height: 23px;

                        }
                    }
                }

                div.feedback-bottom {
                    p {
                        font-family: "Causten", serif;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 16.8px;
                        letter-spacing: 2%;
                        color: #807D7E;
                    }
                }
            }
        }

        div.scroll {
            margin-top: 18px;
            display: flex;
            justify-self: center;
            gap: 2px;

            div.scroll-i {
                width: 7.73px;
                height: 7.73px;
                border-radius: 50%;
                background: #BEBCBD4D;

            }

            div.active-i {
                background: #3C4242;
                width: 7.73px;
                height: 7.73px;
                border-radius: 50%;
            }
        }
    }

}

footer {
    background: #3C4242;
    padding: 59px 0;

    div.footer-items {
        margin-bottom: 20px;

        ul {
            display: flex;
            justify-content: space-between;

            li {
                display: flex;
                flex-direction: column;

                h3 {
                    margin-bottom: 20px;
                    font-family: 'Montserrat', serif;
                    font-weight: 600;
                    font-size: 28.58px;
                    line-height: 61.99px;
                    letter-spacing: 0%;
                    color: #F6F6F6;
                }

                a {
                    font-family: 'Montserrat', serif;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 39.04px;
                    letter-spacing: 0%;
                    color: #F6F6F6;
                }
            }
        }
    }

    div.footer-connect {
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
        align-items: end;

        // align-items: end;
        div.social-media {
            gap: 9px;
            display: flex;

            button {

                cursor: pointer;
                align-items: center;
                justify-content: center;
                display: flex;
                width: 37.02399826049805px;
                height: 37.02399826049805px;
                background: #F6F6F6;
                border-radius: 10px;

                &:hover {}

                img {}
            }


        }

        div.apps {


            h3 {
                font-family: "Causten", serif;
                font-weight: 700;
                font-size: 28.58px;
                line-height: 61.99px;
                letter-spacing: 0%;
                color: #F6F6F6;
                margin-bottom: 15px;
            }

            div.app {

                display: flex;
                // align-items: center;
                justify-content: space-between;
                gap: 30px;

                a {
                    display: flex;
                    // align-items: center;

                    img {
                        margin-right: 10px;
                    }

                    div.right {
                        span {
                            font-family: 'Montserrat', serif;
                            font-weight: normal;
                            font-size: 10px;
                            line-height: 12px;
                            letter-spacing: 0%;
                            color: #FFFFFF;
                        }

                        h3 {
                            font-family: 'Montserrat', serif;
                            font-weight: normal;
                            font-size: 18px;
                            line-height: 21.6px;
                            letter-spacing: 0%;
                            color: #FFFFFF;
                            margin: 0;

                        }
                    }
                }
            }

        }
    }

    div.popular-categories {

        border-top: 1px solid rgba(190, 188, 189, 0.4);

        border-bottom: 1px solid rgba(190, 188, 189, 0.4);


        padding: 10px 0;

        div.top {
            display: flex;
            justify-content: space-between;
            align-items: center;

            div.left {
                h3 {
                    font-family: "Causten", serif;
                    font-weight: 700;
                    font-size: 28.58px;
                    line-height: 57.16px;
                    letter-spacing: 0%;
                    color: #F6F6F6;
                }
            }

            div.right {
                button {
                    transition: transform 0.3s ease-in-out;
                    cursor: pointer;

                    img.up-arrow {
                        transition: transform 0.3s ease-in-out;

                    }


                }
            }
        }

        div.bottom-category {
            display: none;
            transition: opacity 0.3s ease-in-out;
            opacity: 0;

            ul {
                transition: all 0.3 ease;
                display: flex;
                justify-content: space-between;

                li {
                    display: flex;
                    flex-direction: column;

                    h3 {
                        margin-bottom: 20px;
                        font-family: 'Montserrat', serif;
                        font-weight: 600;
                        font-size: 28.58px;
                        line-height: 61.99px;
                        letter-spacing: 0%;
                        color: #F6F6F6;
                    }

                    a {
                        font-family: 'Montserrat', serif;
                        font-weight: normal;
                        font-size: 18px;
                        line-height: 39.04px;
                        letter-spacing: 0%;
                        color: #F6F6F6;
                    }
                }
            }
        }
    }

    div.copyright {
        margin-top: 49px;
        text-align: center;

        span {
            font-family: "Causten", serif;
            font-weight: 100;
            font-size: 18px;
            line-height: 36px;
            letter-spacing: 0%;
            color: #FFFFFF;
        }
    }
}

#product-section {
    .wrapper {
        display: flex;


        .product-left {
            display: flex;
            flex-direction: column;

            width: 5%;

            .product-images {
                display: flex;
                flex-direction: column;
                gap: 24px;

                .image-products {
                    a.product-list-btn {
                        img {
                            width: 68px;
                            height: 68px;
                            border-radius: 9px;
                        }
                    }
                }
            }

            .product-button {
                display: flex;
                flex-direction: column;
                gap: 10px;

                a.up-button {
                    background: #FFFFFF;
                    width: 21px;
                    height: 21px;

                    img {}
                }

                a.down-arrow {
                    img {}
                }
            }
        }

        .product-middle {
            width: 36%;

            img {}
        }

        .product-right {
            width: 58%;

            .product-top {
                ul {
                    li {
                        a {
                            img {}
                        }
                    }
                }
            }

            h3.product-name {}

            .product-rating {
                a.product-ratingg {
                    img {}
                }
            }

            .product-sizes {
                .product-size-top {
                    h3 {}

                    a {
                        img {}
                    }
                }

                .product-size-bottom {
                    ul {
                        li {
                            a {}
                        }
                    }
                }
            }

            .product-colors {
                h3 {}

                .colors {
                    a.color {}

                    a.red {}

                    a.yellow {}

                    a.purple {}

                    a.black {}
                }
            }

            .product-buy {
                button.add-cart {
                    img {}
                }
            }

            .product-offers {
                ul {
                    li {
                        img {}

                        p {}
                    }
                }
            }
        }
    }
}

@media all and (max-width:1280px) {
    header nav .header-middle ul.nav-links {
        gap: 15px;
    }

    header nav .header-search form {
        width: 250px;

    }
}

@media all and (max-widdth:1024px) {
    header nav .header-middle ul.nav-links {
        gap: 20px;
    }

    header nav .header-middle ul.nav-links li a {
        font-size: 18px;
    }

    header nav .header-search form {
        width: 250px;
    }

    header nav .header-search form {
        width: 240px;
    }
}

@media all and (max-width:980px) {
    header nav .header-left h1 {
        width: 80.16px;
        height: 40px;
    }

    header nav .header-right ul li span {
        padding: 10px;

    }

    header nav .header-search form {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 180px;
        height: 38px;
        padding: 10px 16px;
        gap: 12px;
        border-radius: 8px;
        opacity: 0px;
        background: #F6F6F6;
    }

    header nav .header-right ul li span a img {
        width: 14px;
        height: 12.33px;
    }

    header nav .header-middle ul.nav-links li a {
        font-size: 16px;

    }

    header nav .header-middle ul.nav-links {

        gap: 10px;
    }

    header nav .header-left h1 {
        width: 70.16px;
        height: 40px;

    }
}

@media all and (max-width:768px) {
    .header-search {
        display: none;
    }

    header nav .header-middle ul.nav-links {
        gap: 15px;
    }
}

@media all and (max-width:640px) {
    .header-right {
        display: none;
    }

    header nav .header-middle ul.nav-links {
        gap: 12px;
    }
}

@media all and (max-width:540px) {
    .menubar {
        display: block !important;
    }

}

@media all and (max-width:480px) {

    .nav-links li:nth-child(4) {
        display: none;
    }
}

@media all and (max-width:420px) {}

@media all and (max-width:380px) {
    .nav-links li:nth-child(5) {
        display: none;
    }
}

@media all and (max-width:360px) {}

@media all and (max-width:320px) {
    .nav-links li {
        display: none;
    }
}